.break-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

#break-length {
  margin: 0 auto;
}

#break-arrow-up,
#break-arrow-down {
  transition: all 0.5s ease;
  cursor: pointer;
}

#break-increment,
#break-decrement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
