.App {
  position: relative;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1460' height='175.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='1.6' stroke-opacity='0.76'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-size: 2.1rem;
  font-weight: 900;
}

.columns {
  display: flex;
  flex-direction: column;
}

.columns > div {
  width: 150px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 5px auto;
}

footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 768px) {
  .columns {
    flex-direction: row;
    justify-content: space-between;
    min-width: 400px;
    width: 40%;
  }

  h1 {
    font-size: 3rem;
  }
}
